@font-face {
  font-family: 'Ultima Pro';
  src: url("../fonts/ultima-pro/UltimaPro.woff") format("woff"), url("../fonts/ultima-pro/UltimaPro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Ultima Pro';
  src: url("../fonts/ultima-pro/UltimaPro-Bold.woff") format("woff"), url("../fonts/ultima-pro/UltimaPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Ultima Pro';
  src: url("../fonts/ultima-pro/UltimaProBlack.woff") format("woff"), url("../fonts/ultima-pro/UltimaProBlack.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap; }

/* === Iconset === */
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icons/icomoon.eot?i1gocf");
  src: url("../fonts/icons/icomoon.eot?i1gocf#iefix") format("embedded-opentype"), url("../fonts/icons/icomoon.ttf?i1gocf") format("truetype"), url("../fonts/icons/icomoon.woff?i1gocf") format("woff"), url("../fonts/icons/icomoon.svg?i1gocf#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-size: 1rem;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-arrow_up:before {
  content: "\e900"; }

.icon-arrow-ios-forward-outline:before {
  content: "\e901"; }

.icon-arrow-upward:before {
  content: "\e902"; }

.icon-checkmark-circle-2:before {
  content: "\e903"; }

.icon-checkmark-outline:before {
  content: "\e904"; }

.icon-checkmark-square-2-outline:before {
  content: "\e905"; }

.icon-down:before {
  content: "\e906"; }

.icon-close:before {
  content: "\e907"; }

.icon-eye-off-outline:before {
  content: "\e908"; }

.icon-eye-outline:before {
  content: "\e909"; }

.icon-facebook-outline:before {
  content: "\e90a"; }

.icon-facebook:before {
  content: "\e90b"; }

.icon-heart-fill:before {
  content: "\e90c"; }

.icon-heart-outline:before {
  content: "\e90d"; }

.icon-instagram:before {
  content: "\e90e"; }

.icon-options-2-outline:before {
  content: "\e90f"; }

.icon-person:before {
  content: "\e910"; }

.icon-plus-outline:before {
  content: "\e911"; }

.icon-search:before {
  content: "\e912"; }

.icon-shopping-cart-outline:before {
  content: "\e913"; }

.icon-shopping-cart:before {
  content: "\e914"; }

.icon-up-arrow:before {
  content: "\e915"; }

.icon-youtube:before {
  content: "\e916"; }
