@media screen and (min-width: 1024px) and (max-width: 1279px) {
  html {
    font-size: 80%; } }

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .main-footer .inner-wrap {
    flex-direction: column; }
  .main-footer .socials span {
    display: none; }
  .main-footer .socials nav a:first-child {
    margin-left: 0; } }

@media only screen and (max-width: 1023px) {
  /* ================== Header =============== */
  /* ============ Home components ============ */
  .hero .hero-info {
    padding: 24px; }
    .hero .hero-info .title {
      font-size: 40px;
      line-height: 50px;
      margin-top: auto; }
    .hero .hero-info .subtitle {
      font-size: 16px;
      line-height: 19px; }
    .hero .hero-info .button {
      margin-top: auto; }
  .featured-items .featured-item .item-info .box {
    padding: 24px; }
  .featured-items .featured-item .item-info .title {
    font-size: 32px;
    line-height: 40px;
    margin-top: auto; }
  .featured-items .featured-item .item-info .subtitle {
    font-size: 16px;
    line-height: 19px; }
  .featured-items .featured-item .item-info .button {
    margin-top: auto; }
  /* ================ Product ================ */
  .grid-container.products .grid-item {
    font-size: 14px; }
    .grid-container.products .grid-item .save-item {
      bottom: 10px;
      right: 10px; }
  .filter-overlay {
    position: fixed;
    z-index: 11;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: transparent;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out; }
    .filter-overlay.shown {
      background: rgba(0, 0, 0, 0.2);
      opacity: 1;
      visibility: visible;
      pointer-events: auto; }
  .filter-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 12;
    width: 316px;
    height: 100vh;
    padding: 0;
    background: #fff;
    transform: translate(340px, 0);
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    -o-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out; }
    .filter-wrapper.shown {
      transform: translate(0, 0); }
    .filter-wrapper .filter-header {
      height: 64px;
      width: 100%;
      padding: 0 18px;
      background: #F3F3F3;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 0; }
      .filter-wrapper .filter-header .filter-toggle {
        color: #65226D; }
      .filter-wrapper .filter-header .clear-filter {
        color: #000; }
    .filter-wrapper .filter-body {
      padding: 20px 40px; }
  /* ================ Products ================ */
  .products-header {
    flex-direction: column;
    align-items: stretch;
    padding: 24px 0; }
    .products-header .section-headline {
      margin-bottom: 20px; }
    .products-header .breadcrumbs {
      display: none; }
    .products-header .col.mobile-filters {
      display: flex;
      justify-content: space-between;
      margin: 0 -10px; }
      .products-header .col.mobile-filters > * {
        margin: 0 10px;
        flex-grow: 1;
        width: calc(50% - 20px);
        z-index: 1; }
  /* ================ Product ================ */
  .product-details {
    flex-direction: column;
    margin-top: 20px; }
    .product-details .product-images {
      flex-direction: column;
      margin-right: 0; }
      .product-details .product-images .photo-preview {
        order: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 14px; }
      .product-details .product-images .product-slider {
        order: 2;
        display: flex;
        width: auto; }
      .product-details .product-images .item-slider-photo span {
        margin: 0 14px 0 0; }
    .product-details .product-info {
      width: 100%;
      min-width: 0; }
      .product-details .product-info .breadcrumbs {
        display: none; }
      .product-details .product-info .price {
        font-size: 14px;
        margin-top: 0;
        margin-bottom: 6px; }
      .product-details .product-info .data-label {
        margin-top: 0; }
      .product-details .product-info .section-headline {
        font-size: 24px;
        line-height: 30px; }
    .product-details .mobile-slider-wrapper {
      margin: 10px -20px 14px; }
      .product-details .mobile-slider-wrapper .slick-dots.slick-dots {
        bottom: -20px;
        right: -5px; }
        .product-details .mobile-slider-wrapper .slick-dots.slick-dots li {
          width: 10px; }
          .product-details .mobile-slider-wrapper .slick-dots.slick-dots li button {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center; }
            .product-details .mobile-slider-wrapper .slick-dots.slick-dots li button:before {
              width: 4px;
              height: 4px;
              display: inline-block;
              position: relative; }
          .product-details .mobile-slider-wrapper .slick-dots.slick-dots li.slick-active button:before {
            width: 6px;
            height: 6px;
            top: 1px;
            opacity: 1; }
    .product-details .variants-wrapper img {
      width: 60px; } }

@media only screen and (max-width: 767px) {
  /* ============ Home components ============ */
  .hero {
    height: 75vh;
    width: 100%;
    background-color: #F3F3F3;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover; }
    .hero .photo {
      display: none; }
  .featured-items .inner-wrap {
    flex-direction: column;
    margin: 20px 0 0; }
  .featured-items .featured-item {
    height: 70vh;
    width: 100%;
    padding: 0;
    background-color: #F3F3F3;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover; }
    .featured-items .featured-item + .featured-item {
      margin-top: 20px; }
    .featured-items .featured-item .photo {
      display: none; }
    .featured-items .featured-item .item-info {
      padding: 0; }
  .items-slider-wrap {
    width: calc(100% - 18px);
    position: relative; }
    .items-slider-wrap:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: -25px;
      width: 25px;
      height: 100%;
      background: #fff;
      z-index: 2; }
    .items-slider-wrap .item-slider .grid-item {
      margin: 0 12px 0 0; }
    .items-slider-wrap .slider-container {
      overflow: visible;
      margin: 0; }
    .items-slider-wrap .slick-list {
      overflow: visible; }
    .items-slider-wrap .slick-arrow {
      display: none !important; }
    .items-slider-wrap .slick-dots {
      display: none !important; }
  .newsletter {
    height: 65vh;
    width: 100%;
    padding: 0;
    background-color: #F3F3F3;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover; }
    .newsletter img {
      display: none; }
    .newsletter .inner-wrap {
      padding: 24px;
      text-align: center; }
      .newsletter .inner-wrap .title {
        font-size: 32px;
        line-height: 40px;
        margin-top: auto; }
      .newsletter .inner-wrap .button {
        margin-top: auto; }
  .latest-info-wrap {
    margin: 64px 0; }
    .latest-info-wrap p br {
      display: none; }
  /* ================= Footer ================= */
  .main-footer {
    padding-top: 24px; }
    .main-footer .inner-wrap {
      flex-direction: column; }
    .main-footer .menu-cols {
      flex-direction: column; }
      .main-footer .menu-cols .col {
        max-width: none; }
        .main-footer .menu-cols .col.collapsible .headline {
          position: relative; }
          .main-footer .menu-cols .col.collapsible .headline:after {
            content: "\e906";
            font-family: 'icomoon';
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            font-size: 24px;
            color: #000;
            transform: rotate(0deg);
            -webkit-transition: all 0.2s ease-out;
            -moz-transition: all 0.2s ease-out;
            -o-transition: all 0.2s ease-out;
            transition: all 0.2s ease-out; }
        .main-footer .menu-cols .col.collapsible li:not(:first-child) {
          height: 0;
          overflow: hidden;
          -webkit-transition: all 0.1s ease-out;
          -moz-transition: all 0.1s ease-out;
          -o-transition: all 0.1s ease-out;
          transition: all 0.1s ease-out; }
        .main-footer .menu-cols .col.collapsible.shown .headline:after {
          transform: rotate(180deg); }
        .main-footer .menu-cols .col.collapsible.shown li:not(:first-child) {
          height: 29px; }
        .main-footer .menu-cols .col.contacts {
          padding-top: 24px;
          border-top: 1px solid #DDDDDD; }
        .main-footer .menu-cols .col + .col {
          margin-top: 20px; }
    .main-footer .socials {
      margin-top: 30px; }
      .main-footer .socials span {
        display: none; }
      .main-footer .socials nav a:first-child {
        margin-left: 0; }
    .main-footer .copyright {
      margin-top: 30px; }
      .main-footer .copyright .scroll-top {
        display: none; } }
