@media screen and (min-width: 1024px) and (max-width: 1279px) {
  html {
    font-size: 80%; } }

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .main-footer .inner-wrap {
    flex-direction: column; }
  .main-footer .socials span {
    display: none; }
  .main-footer .socials nav a:first-child {
    margin-left: 0; } }

@media only screen and (max-width: 1023px) {
  /* ============ Header ============ */
  /* ============ Home components ============ */
  .hero .hero-info {
    padding: 24px; }
    .hero .hero-info .title {
      font-size: 40px;
      line-height: 50px;
      margin-top: auto; }
    .hero .hero-info .subtitle {
      font-size: 16px;
      line-height: 19px; }
    .hero .hero-info .button {
      margin-top: auto; }
  .featured-items .featured-item .item-info .box {
    padding: 24px; }
  .featured-items .featured-item .item-info .title {
    font-size: 32px;
    line-height: 40px;
    margin-top: auto; }
  .featured-items .featured-item .item-info .subtitle {
    font-size: 16px;
    line-height: 19px; }
  .featured-items .featured-item .item-info .button {
    margin-top: auto; }
  /* ============ Product ============ */
  .grid-container.grid-container.cols_2 .grid-item, .grid-container.grid-container[data-rows="2"] .grid-item, .grid-container.grid-container.cols_3 .grid-item, .grid-container.grid-container[data-rows="3"] .grid-item, .grid-container.grid-container.cols_4 .grid-item, .grid-container.grid-container[data-rows="4"] .grid-item {
    flex: 0 1 50%;
    font-size: 14px; }
    .grid-container.grid-container.cols_2 .grid-item .save-item, .grid-container.grid-container[data-rows="2"] .grid-item .save-item, .grid-container.grid-container.cols_3 .grid-item .save-item, .grid-container.grid-container[data-rows="3"] .grid-item .save-item, .grid-container.grid-container.cols_4 .grid-item .save-item, .grid-container.grid-container[data-rows="4"] .grid-item .save-item {
      bottom: 10px;
      right: 10px; }
  /* ============ Product ============ */
  .product-details {
    flex-direction: column;
    margin-top: 20px; }
    .product-details .product-images {
      flex-direction: column;
      margin-right: 0; }
      .product-details .product-images .photo-preview {
        order: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 14px; }
      .product-details .product-images .product-slider {
        order: 2;
        display: flex;
        width: auto; }
      .product-details .product-images .item-slider-photo span {
        margin: 0 14px 0 0; }
    .product-details .product-info {
      width: 100%;
      min-width: 0;
      margin-top: 2rem; } }

@media only screen and (max-width: 767px) {
  /* ============ Home components ============ */
  .hero {
    height: 75vh;
    width: 100%;
    background-color: #F3F3F3;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover; }
    .hero .photo {
      display: none; }
  .featured-items .inner-wrap {
    flex-direction: column;
    margin: 20px 0 0; }
  .featured-items .featured-item {
    height: 70vh;
    width: 100%;
    padding: 0;
    background-color: #F3F3F3;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover; }
    .featured-items .featured-item + .featured-item {
      margin-top: 20px; }
    .featured-items .featured-item .photo {
      display: none; }
    .featured-items .featured-item .item-info {
      padding: 0; }
  .items-slider-wrap {
    width: calc(100% - 18px);
    position: relative; }
    .items-slider-wrap:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: -25px;
      width: 25px;
      height: 100%;
      background: #fff;
      z-index: 2; }
    .items-slider-wrap .item-slider .grid-item {
      margin: 0 12px 0 0; }
    .items-slider-wrap .slider-container {
      overflow: visible;
      margin: 0; }
    .items-slider-wrap .slick-list {
      overflow: visible; }
    .items-slider-wrap .slick-arrow {
      display: none !important; }
    .items-slider-wrap .slick-dots {
      display: none !important; }
  .newsletter {
    height: 65vh;
    width: 100%;
    padding: 0;
    background-color: #F3F3F3;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover; }
    .newsletter img {
      display: none; }
    .newsletter .inner-wrap {
      padding: 24px;
      text-align: center; }
      .newsletter .inner-wrap .title {
        font-size: 32px;
        line-height: 40px;
        margin-top: auto; }
      .newsletter .inner-wrap .button {
        margin-top: auto; }
  .latest-info-wrap {
    margin: 64px 0; }
    .latest-info-wrap p br {
      display: none; }
  /* ============ Footer ============ */
  .main-footer {
    padding-top: 24px; }
    .main-footer .inner-wrap {
      flex-direction: column; }
    .main-footer .menu-cols {
      flex-direction: column; }
      .main-footer .menu-cols .col {
        max-width: none; }
        .main-footer .menu-cols .col.collapsible .headline {
          position: relative; }
          .main-footer .menu-cols .col.collapsible .headline:after {
            content: "\e906";
            font-family: 'icomoon';
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            font-size: 24px;
            color: #000;
            transform: rotate(0deg);
            -webkit-transition: all 0.2s ease-out;
            -moz-transition: all 0.2s ease-out;
            -o-transition: all 0.2s ease-out;
            transition: all 0.2s ease-out; }
        .main-footer .menu-cols .col.collapsible li:not(:first-child) {
          height: 0;
          overflow: hidden;
          -webkit-transition: all 0.1s ease-out;
          -moz-transition: all 0.1s ease-out;
          -o-transition: all 0.1s ease-out;
          transition: all 0.1s ease-out; }
        .main-footer .menu-cols .col.collapsible.shown .headline:after {
          transform: rotate(180deg); }
        .main-footer .menu-cols .col.collapsible.shown li:not(:first-child) {
          height: 29px; }
        .main-footer .menu-cols .col.contacts {
          padding-top: 24px;
          border-top: 1px solid #DDDDDD; }
        .main-footer .menu-cols .col + .col {
          margin-top: 20px; }
    .main-footer .socials {
      margin-top: 30px; }
      .main-footer .socials span {
        display: none; }
      .main-footer .socials nav a:first-child {
        margin-left: 0; }
    .main-footer .copyright {
      margin-top: 30px; }
      .main-footer .copyright .scroll-top {
        display: none; } }
