.right {
  float: right !important; }

.left {
  float: left !important; }

.hidden {
  display: none; }

.text-left {
  text-align: left !important; }

.text-center {
  text-align: center !important; }

.text-right {
  text-align: right !important; }

/* === Flex Grid Helpers === */
.flex-parent {
  display: flex; }
  .flex-parent.flex-column {
    flex-direction: column; }
  .flex-parent.justify-start {
    justify-content: flex-start; }
  .flex-parent.justify-center {
    justify-content: center; }
  .flex-parent.justify-end {
    justify-content: flex-end; }
  .flex-parent.align-top {
    align-items: flex-start; }
  .flex-parent.align-center {
    align-items: center; }
  .flex-parent.align-bottom {
    align-items: flex-end; }
  .flex-parent.flex-wrap {
    flex-wrap: wrap; }
  .flex-parent .flex-1 {
    flex: 1; }
  .flex-parent .flex-2 {
    flex: 2; }
  .flex-parent .flex-3 {
    flex: 3; }
  .flex-parent .flex-4 {
    flex: 4; }
  .flex-parent .flex-5 {
    flex: 5; }
  .flex-parent .flex-6 {
    flex: 6; }
  .flex-parent .flex-7 {
    flex: 7; }
  .flex-parent .flex-8 {
    flex: 8; }
  .flex-parent .flex-9 {
    flex: 9; }
  .flex-parent .flex-10 {
    flex: 10; }
  .flex-parent .flex-11 {
    flex: 11; }
  .flex-parent .flex-12 {
    flex: 12; }

/* === Sizes === */
.w-10 {
  width: 10%; }

.w-20 {
  width: 20%; }

.w-25 {
  width: 25%; }

.w-33 {
  width: 33%; }

.w-50 {
  width: 50%; }

.w-66 {
  width: 66%; }

.w-75 {
  width: 75%; }

.w-100 {
  width: 100%; }

/*
This .scss loop will create "margin helpers" and "padding helpers" for use in your web projects.
*/
.m-0 {
  margin: 0rem; }

.p-0 {
  padding: 0rem; }

.mt-0 {
  margin-top: 0rem; }

.pt-0 {
  padding-top: 0rem; }

.mr-0 {
  margin-right: 0rem; }

.pr-0 {
  padding-right: 0rem; }

.mb-0 {
  margin-bottom: 0rem; }

.pb-0 {
  padding-bottom: 0rem; }

.ml-0 {
  margin-left: 0rem; }

.pl-0 {
  padding-left: 0rem; }

.m-1 {
  margin: 0.5rem; }

.p-1 {
  padding: 0.5rem; }

.mt-1 {
  margin-top: 0.5rem; }

.pt-1 {
  padding-top: 0.5rem; }

.mr-1 {
  margin-right: 0.5rem; }

.pr-1 {
  padding-right: 0.5rem; }

.mb-1 {
  margin-bottom: 0.5rem; }

.pb-1 {
  padding-bottom: 0.5rem; }

.ml-1 {
  margin-left: 0.5rem; }

.pl-1 {
  padding-left: 0.5rem; }

.m-2 {
  margin: 1rem; }

.p-2 {
  padding: 1rem; }

.mt-2 {
  margin-top: 1rem; }

.pt-2 {
  padding-top: 1rem; }

.mr-2 {
  margin-right: 1rem; }

.pr-2 {
  padding-right: 1rem; }

.mb-2 {
  margin-bottom: 1rem; }

.pb-2 {
  padding-bottom: 1rem; }

.ml-2 {
  margin-left: 1rem; }

.pl-2 {
  padding-left: 1rem; }

.m-3 {
  margin: 1.5rem; }

.p-3 {
  padding: 1.5rem; }

.mt-3 {
  margin-top: 1.5rem; }

.pt-3 {
  padding-top: 1.5rem; }

.mr-3 {
  margin-right: 1.5rem; }

.pr-3 {
  padding-right: 1.5rem; }

.mb-3 {
  margin-bottom: 1.5rem; }

.pb-3 {
  padding-bottom: 1.5rem; }

.ml-3 {
  margin-left: 1.5rem; }

.pl-3 {
  padding-left: 1.5rem; }

.m-4 {
  margin: 2rem; }

.p-4 {
  padding: 2rem; }

.mt-4 {
  margin-top: 2rem; }

.pt-4 {
  padding-top: 2rem; }

.mr-4 {
  margin-right: 2rem; }

.pr-4 {
  padding-right: 2rem; }

.mb-4 {
  margin-bottom: 2rem; }

.pb-4 {
  padding-bottom: 2rem; }

.ml-4 {
  margin-left: 2rem; }

.pl-4 {
  padding-left: 2rem; }

.m-5 {
  margin: 2.5rem; }

.p-5 {
  padding: 2.5rem; }

.mt-5 {
  margin-top: 2.5rem; }

.pt-5 {
  padding-top: 2.5rem; }

.mr-5 {
  margin-right: 2.5rem; }

.pr-5 {
  padding-right: 2.5rem; }

.mb-5 {
  margin-bottom: 2.5rem; }

.pb-5 {
  padding-bottom: 2.5rem; }

.ml-5 {
  margin-left: 2.5rem; }

.pl-5 {
  padding-left: 2.5rem; }

.m-6 {
  margin: 3rem; }

.p-6 {
  padding: 3rem; }

.mt-6 {
  margin-top: 3rem; }

.pt-6 {
  padding-top: 3rem; }

.mr-6 {
  margin-right: 3rem; }

.pr-6 {
  padding-right: 3rem; }

.mb-6 {
  margin-bottom: 3rem; }

.pb-6 {
  padding-bottom: 3rem; }

.ml-6 {
  margin-left: 3rem; }

.pl-6 {
  padding-left: 3rem; }

.m-7 {
  margin: 3.5rem; }

.p-7 {
  padding: 3.5rem; }

.mt-7 {
  margin-top: 3.5rem; }

.pt-7 {
  padding-top: 3.5rem; }

.mr-7 {
  margin-right: 3.5rem; }

.pr-7 {
  padding-right: 3.5rem; }

.mb-7 {
  margin-bottom: 3.5rem; }

.pb-7 {
  padding-bottom: 3.5rem; }

.ml-7 {
  margin-left: 3.5rem; }

.pl-7 {
  padding-left: 3.5rem; }

.m-8 {
  margin: 4rem; }

.p-8 {
  padding: 4rem; }

.mt-8 {
  margin-top: 4rem; }

.pt-8 {
  padding-top: 4rem; }

.mr-8 {
  margin-right: 4rem; }

.pr-8 {
  padding-right: 4rem; }

.mb-8 {
  margin-bottom: 4rem; }

.pb-8 {
  padding-bottom: 4rem; }

.ml-8 {
  margin-left: 4rem; }

.pl-8 {
  padding-left: 4rem; }

.m-9 {
  margin: 4.5rem; }

.p-9 {
  padding: 4.5rem; }

.mt-9 {
  margin-top: 4.5rem; }

.pt-9 {
  padding-top: 4.5rem; }

.mr-9 {
  margin-right: 4.5rem; }

.pr-9 {
  padding-right: 4.5rem; }

.mb-9 {
  margin-bottom: 4.5rem; }

.pb-9 {
  padding-bottom: 4.5rem; }

.ml-9 {
  margin-left: 4.5rem; }

.pl-9 {
  padding-left: 4.5rem; }

.m-10 {
  margin: 5rem; }

.p-10 {
  padding: 5rem; }

.mt-10 {
  margin-top: 5rem; }

.pt-10 {
  padding-top: 5rem; }

.mr-10 {
  margin-right: 5rem; }

.pr-10 {
  padding-right: 5rem; }

.mb-10 {
  margin-bottom: 5rem; }

.pb-10 {
  padding-bottom: 5rem; }

.ml-10 {
  margin-left: 5rem; }

.pl-10 {
  padding-left: 5rem; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Ultima Pro", "Poppins", "Rubik", sans-serif; }

h1, h2, h3 {
  font-weight: 900;
  letter-spacing: -0.04em; }

.site-container {
  width: 100%;
  padding: 0 40px; }
  .site-container:before, .site-container:after {
    content: "";
    display: table; }
  .site-container:after {
    clear: both; }
  .site-container:not(.wide) {
    max-width: 1920px; }

.section-headline {
  font: 700 1.5rem/1.875rem "Ultima Pro", "Poppins", "Rubik", sans-serif;
  letter-spacing: -0.02em; }

.button {
  height: 3.125rem;
  padding: 0 4rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  -webkit-border-radius: 64px;
  border-radius: 64px;
  font: 500 0.875rem/1 "Poppins", "Rubik", sans-serif;
  letter-spacing: -0.01em; }
  .button [class*="icon"] {
    margin-right: 0.375rem; }
  .button.lg {
    height: 4rem;
    font-size: 1rem; }
  .button.block {
    width: 100%; }
  .button.white {
    background: #fff;
    color: #65226D; }
    .button.white:hover {
      background: rgba(255, 255, 255, 0.75); }
    .button.white-outlined {
      background: transparent;
      border: 2px solid #FFFFFF;
      color: #fff; }
      .button.white-outlined:hover {
        background: #fff;
        color: #65226D; }
  .button.purple {
    background: #65226D;
    color: #fff; }
    .button.purple:hover {
      background: #A349AE; }
  .button.grey {
    background: #F3F3F3;
    color: #65226D; }
    .button.grey:hover {
      background: #DDDDDD; }

.grid-container {
  display: flex;
  flex-wrap: wrap; }
  .grid-container.col_2 > * {
    flex: 1 1 50%; }
  .grid-container.col_3 > * {
    flex: 1 1 33.33%; }
  .grid-container.col_4 > * {
    flex: 1 1 25%; }

.grid-item {
  display: flex;
  flex-direction: column;
  padding: 1rem; }
  .grid-item .img-wrap {
    display: flex;
    width: 100%;
    position: relative; }
    .grid-item .img-wrap .sale {
      position: absolute;
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 1.25rem;
      right: -1rem;
      width: 6.125rem;
      height: 6rem;
      padding-top: 0.5rem;
      font: bold 1.75rem/1 "Ultima Pro", "Poppins", "Rubik", sans-serif;
      color: #fff;
      background: url(../images/purple_star.png) no-repeat center;
      -webkit-background-size: contain;
      background-size: contain; }
    .grid-item .img-wrap .photo {
      width: 100%; }
    .grid-item .img-wrap .save-item {
      position: absolute;
      z-index: 1;
      bottom: 1.25rem;
      right: 1.25rem;
      font-size: 1.25rem;
      color: #65226D; }
  .grid-item .item-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 1rem; }
    .grid-item .item-info .title {
      font: 400 0.875rem/1.3125rem "Poppins", "Rubik", sans-serif; }
    .grid-item .item-info .type {
      font: 400 0.75rem/1.125rem "Poppins", "Rubik", sans-serif;
      color: #9B9B9B; }
    .grid-item .item-info .price {
      font: bold 1rem/1.25rem "Ultima Pro", "Poppins", "Rubik", sans-serif;
      margin-top: 0.5rem;
      color: #65226D;
      display: flex; }
      .grid-item .item-info .price .old {
        text-decoration: line-through;
        color: #5E5E5E;
        margin-right: 0.75rem; }
      .grid-item .item-info .price .new {
        color: #E3483E; }

/* === Slick Slider custom styles === */
.slick-dots.slick-dots {
  text-align: right;
  padding: 0 1rem; }
  .slick-dots.slick-dots li {
    display: inline-flex;
    align-items: center;
    justify-content: center; }
    .slick-dots.slick-dots li.slick-active button:before {
      width: 8px;
      height: 8px;
      background: #9B9B9B; }
    .slick-dots.slick-dots li button {
      width: auto;
      height: auto;
      padding: 0;
      position: relative; }
      .slick-dots.slick-dots li button:before {
        content: "";
        width: 6px;
        height: 6px;
        opacity: 1;
        background: #DDDDDD;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        -webkit-transition: all 0.2s ease-out;
        -moz-transition: all 0.2s ease-out;
        -o-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out; }

.slick-slider .slick-prev,
.slick-slider .slick-next {
  width: 3.25rem;
  height: 3.25rem;
  top: 40%;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.75);
  -webkit-border-radius: 52px;
  border-radius: 52px;
  -webkit-box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1), -4px -4px 6px rgba(255, 255, 255, 0.25);
  -moz-box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1), -4px -4px 6px rgba(255, 255, 255, 0.25);
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1), -4px -4px 6px rgba(255, 255, 255, 0.25); }
  .slick-slider .slick-prev:before,
  .slick-slider .slick-next:before {
    font-size: 1rem; }
  .slick-slider .slick-prev:hover,
  .slick-slider .slick-next:hover {
    background: rgba(255, 255, 255, 0.75); }
    .slick-slider .slick-prev:hover:before,
    .slick-slider .slick-next:hover:before {
      color: #5E5E5E;
      -webkit-transition: all 0.2s ease-out;
      -moz-transition: all 0.2s ease-out;
      -o-transition: all 0.2s ease-out;
      transition: all 0.2s ease-out; }

.slick-slider .slick-prev {
  left: 2rem; }
  .slick-slider .slick-prev:before {
    font-family: 'icomoon' !important;
    content: "\e918";
    color: #9B9B9B; }

.slick-slider .slick-next {
  right: 2rem; }
  .slick-slider .slick-next:before {
    font-family: 'icomoon' !important;
    content: "\e917";
    color: #9B9B9B; }

/* ============ Header ============ */
.topbar {
  width: 100%;
  height: 3rem;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .topbar .navigation {
    display: flex;
    align-items: stretch; }
    .topbar .navigation > * {
      margin-left: 1.125rem; }
  .topbar .lang {
    position: relative;
    display: flex;
    align-items: stretch; }
    .topbar .lang:hover .dropdown-list {
      display: block; }
    .topbar .lang .lang-toggle {
      display: flex;
      justify-content: center;
      align-items: center; }
      .topbar .lang .lang-toggle [class*="icon"] {
        font-size: 1.375rem;
        color: #65226D; }
      .topbar .lang .lang-toggle span {
        font-size: 0.75rem;
        line-height: 1.125rem; }
    .topbar .lang .dropdown-list {
      display: none;
      top: 2.625rem;
      left: 0;
      z-index: 3;
      position: absolute;
      overflow: hidden;
      background: #fff;
      border: 1px solid #DDDDDD;
      padding: 0.5rem 0;
      -webkit-border-radius: 14px;
      border-radius: 14px; }
      .topbar .lang .dropdown-list li a {
        display: block;
        width: 100%;
        font-size: 0.75rem;
        line-height: 1.125rem;
        background: #fff;
        color: #000;
        padding: 0.25rem 1.375rem; }
        .topbar .lang .dropdown-list li a:hover {
          background: #F3F3F3; }
  .topbar .navlink {
    display: flex;
    justify-content: center;
    align-items: center; }
    .topbar .navlink [class*="icon"] {
      font-size: 1.5rem;
      color: #65226D; }
    .topbar .navlink span {
      color: #000;
      font-size: 0.75rem;
      line-height: 1.125rem; }
  .topbar .cart {
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center; }
    .topbar .cart:hover .cart-dropdown {
      display: block; }
    .topbar .cart .cart-toggle {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center; }
      .topbar .cart .cart-toggle [class*="icon"] {
        font-size: 1.5rem;
        color: #65226D; }
      .topbar .cart .cart-toggle .number {
        position: absolute;
        top: -0.375rem;
        right: -0.375rem;
        background: #E3483E;
        border: 2px solid #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 1.125rem;
        width: 1.125rem;
        font-size: 0.625rem;
        color: #fff;
        -webkit-border-radius: 20px;
        border-radius: 20px; }
    .topbar .cart .cart-dropdown {
      display: none;
      width: 17.75rem;
      position: absolute;
      top: 3rem;
      right: 0;
      z-index: 3;
      background: #fff;
      border: 1px solid #DDDDDD;
      padding: 1.25rem; }
      .topbar .cart .cart-dropdown .items {
        margin-bottom: 1.5rem; }
        .topbar .cart .cart-dropdown .items .item {
          display: flex;
          align-items: center;
          color: #000;
          margin-bottom: 0.875rem; }
          .topbar .cart .cart-dropdown .items .item img {
            width: 6rem;
            margin-right: 0.75rem; }
          .topbar .cart .cart-dropdown .items .item .info {
            display: flex;
            flex-direction: column;
            font-size: 0.75rem; }
            .topbar .cart .cart-dropdown .items .item .info .title {
              line-height: 1.125rem;
              margin-bottom: 0.25rem; }
            .topbar .cart .cart-dropdown .items .item .info .size {
              line-height: 1.125rem;
              margin-bottom: 0.25rem;
              color: #9B9B9B; }
            .topbar .cart .cart-dropdown .items .item .info .price {
              display: flex;
              line-height: 1.125rem;
              font: bold 0.75rem/0.9375rem "Ultima Pro", "Poppins", "Rubik", sans-serif;
              color: #65226D; }
              .topbar .cart .cart-dropdown .items .item .info .price .new {
                color: #E3483E; }
              .topbar .cart .cart-dropdown .items .item .info .price .old {
                text-decoration: line-through;
                color: #5E5E5E;
                margin-right: 0.75rem; }
      .topbar .cart .cart-dropdown .items-added {
        text-align: center;
        font-size: 0.75rem;
        line-height: 1.125rem;
        color: #5E5E5E;
        margin-bottom: 0.5rem; }

.main-header {
  width: 100%;
  position: relative;
  z-index: 2;
  border-top: 1px solid #DDDDDD; }
  .main-header .header-inner-wrap {
    height: 4.375rem;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .main-header .logo {
    font: 900 1.6875rem/2.0625rem "Ultima Pro", "Poppins", "Rubik", sans-serif;
    color: #65226D;
    text-transform: uppercase;
    width: 9.375rem; }
  .main-header .topnav {
    display: flex;
    justify-content: center;
    align-items: center; }
    .main-header .topnav > li {
      padding: 0 1.8125rem; }
      .main-header .topnav > li > a {
        font: bold 0.875rem/4.375rem "Ultima Pro", "Poppins", "Rubik", sans-serif;
        color: #000;
        text-transform: uppercase; }
        .main-header .topnav > li > a:hover {
          color: #65226D; }
      .main-header .topnav > li.with-dropdown:hover .combobox {
        display: block; }
  .main-header .search-box {
    width: 9.375rem;
    display: flex;
    align-items: center;
    justify-content: flex-end; }
  .main-header .search-toggle {
    display: inline-flex;
    align-items: center;
    justify-content: center; }
    .main-header .search-toggle [class*="icon"] {
      margin-right: 0.5rem;
      font-size: 1.5rem;
      color: #65226D; }
    .main-header .search-toggle span {
      font-size: 0.75rem;
      line-height: 1.125rem; }

.combobox {
  display: none;
  position: absolute;
  top: 4.375rem;
  left: 0;
  width: 100%;
  padding: 1.75rem 0 3.25rem;
  background: #fff;
  border-top: 1px solid #DDDDDD; }
  .combobox .inner-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start; }
  .combobox .cols {
    display: flex;
    align-items: stretch; }
  .combobox .col {
    min-width: 12.5rem;
    padding: 0 1.75rem; }
    .combobox .col + .col {
      border-left: 1px solid #DDDDDD; }
    .combobox .col .title {
      font: 600 0.875rem/1.3125rem "Poppins", "Rubik", sans-serif;
      color: #65226D;
      margin-bottom: 1.5rem;
      text-transform: uppercase; }
    .combobox .col .list-cols {
      display: flex;
      align-items: flex-start; }
    .combobox .col ul.trending li a {
      font-size: 0.875rem;
      font-weight: 600;
      line-height: 1.3125rem; }
      .combobox .col ul.trending li a.red {
        color: #E3483E; }
        .combobox .col ul.trending li a.red:hover {
          color: #5E5E5E; }
    .combobox .col ul li {
      margin-bottom: 0.5rem;
      min-width: 7.5rem; }
      .combobox .col ul li a {
        font: 400 0.75rem/1.125rem "Poppins", "Rubik", sans-serif;
        color: #000; }
        .combobox .col ul li a:hover {
          color: #5E5E5E; }
  .combobox .category-preview {
    margin-left: 2.5rem;
    display: flex;
    flex-direction: column; }
    .combobox .category-preview img {
      max-width: 14.5rem; }
    .combobox .category-preview .title {
      font-size: 0.875rem;
      line-height: 1.3125rem;
      margin-bottom: 1.5rem;
      letter-spacing: -0.01em;
      color: #5E5E5E; }

.search-dropdown {
  display: none;
  position: absolute;
  width: 100%;
  z-index: 2;
  background: #fff;
  top: 7.375rem;
  left: 0;
  padding-bottom: 1rem; }
  .search-dropdown.shown {
    display: block; }
  .search-dropdown .form-search {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: #5E5E5E;
    border-bottom: 1px solid #5E5E5E; }
    .search-dropdown .form-search fieldset {
      flex-grow: 1; }
    .search-dropdown .form-search .field {
      width: 100%;
      border: 0;
      font: 400 1.5rem/2.25rem "Poppins", "Rubik", sans-serif;
      letter-spacing: -0.01em;
      padding: 0.5rem 0; }
    .search-dropdown .form-search .icon-close {
      position: relative;
      right: -0.3125rem;
      font-size: 2rem;
      padding: 0.3125rem;
      color: #5E5E5E; }

/* ============= Homepage Elements ============= */
.hero {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center; }
  .hero .photo {
    width: 100%; }
  .hero .hero-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .hero .hero-info .title {
      font-size: 4rem;
      line-height: 5rem; }
    .hero .hero-info .subtitle {
      font-size: 1.125rem;
      line-height: 1.3;
      margin-bottom: 3.625rem; }
    .hero .hero-info .button {
      padding: 0 3rem; }

.featured-items .inner-wrap {
  display: flex;
  margin: 1.5rem -0.375rem 0; }
  .featured-items .inner-wrap:before, .featured-items .inner-wrap:after {
    content: "";
    display: table; }
  .featured-items .inner-wrap:after {
    clear: both; }

.featured-items .featured-item {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  padding: 0 0.75rem; }
  .featured-items .featured-item .photo {
    width: 100%; }
  .featured-items .featured-item .item-info {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 0 0.75rem; }
    .featured-items .featured-item .item-info .box {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: #fff;
      background: rgba(0, 0, 0, 0.1); }
    .featured-items .featured-item .item-info .title {
      font: 900 2.25rem/2.8125rem "Ultima Pro", "Poppins", "Rubik", sans-serif;
      margin-bottom: 0.625rem; }
    .featured-items .featured-item .item-info .subtitle {
      font: 500 1.125rem/1.6875rem "Poppins", "Rubik", sans-serif;
      margin-bottom: 1.25rem; }
    .featured-items .featured-item .item-info .button {
      padding: 0 3rem; }

.items-slider-wrap {
  margin-top: 4rem; }
  .items-slider-wrap .slider-container {
    margin: 0 -1rem;
    overflow: hidden; }
  .items-slider-wrap .item-slider .grid-item {
    padding-left: 0;
    padding-right: 0;
    margin-left: 1rem;
    margin-right: 1rem; }

.newsletter {
  width: 100%;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative; }
  .newsletter .inner-wrap {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .newsletter .title {
    font: 900 2.25rem/2.8125rem "Ultima Pro", "Poppins", "Rubik", sans-serif;
    color: #fff;
    margin-bottom: 0.625rem; }

.latest-info-wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 6rem 0; }

/* =============== Main Footer =============== */
.main-footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 3.5rem;
  border-top: 1px solid #DDDDDD; }
  .main-footer .inner-wrap {
    width: 100%;
    display: flex;
    justify-content: space-between; }
  .main-footer .menu-cols {
    display: flex;
    flex-grow: 1; }
    .main-footer .menu-cols .col {
      flex-grow: 1;
      max-width: 13.75rem; }
      .main-footer .menu-cols .col .headline {
        font: bold 1.125rem/1.375rem "Ultima Pro", "Poppins", "Rubik", sans-serif;
        color: #65226D;
        margin-bottom: 1.25rem; }
      .main-footer .menu-cols .col a {
        font: 400 0.8125rem/2 "Poppins", "Rubik", sans-serif;
        color: #000; }
        .main-footer .menu-cols .col a:hover {
          color: #5E5E5E; }
      .main-footer .menu-cols .col p + p {
        margin-top: 2.5rem; }
  .main-footer .socials {
    display: flex; }
    .main-footer .socials span {
      font-size: 0.8125rem; }
    .main-footer .socials [class*="icon"] {
      margin-left: 1.375rem;
      font-size: 1.125rem;
      color: #000; }
  .main-footer .copyright {
    width: 100%;
    position: relative;
    min-height: 3.125rem;
    padding-top: 0.75rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 5rem;
    border-top: 1px solid #DDDDDD; }
    .main-footer .copyright .scroll-top {
      position: absolute;
      top: -2.625rem;
      right: 0;
      cursor: pointer; }
      .main-footer .copyright .scroll-top [class*="icon"] {
        font-size: 2rem;
        color: #65226D; }
    .main-footer .copyright a, .main-footer .copyright span {
      font-size: 11px;
      color: #5E5E5E; }
