h1, h2, h3, h4, h5, h6 {
  font-family: "Ultima Pro", "Poppins", "Rubik", sans-serif; }

h1, h2, h3 {
  font-weight: 900;
  letter-spacing: -0.04em; }

.site-container {
  width: 100%;
  margin: 0 auto;
  padding: 0 40px; }
  .site-container:before, .site-container:after {
    content: "";
    display: table; }
  .site-container:after {
    clear: both; }
  .site-container:not(.wide) {
    max-width: 1920px; }

.section-headline {
  font: 700 1.5rem/1.875rem "Ultima Pro", "Poppins", "Rubik", sans-serif;
  letter-spacing: -0.02em; }

.button {
  height: 3.125rem;
  padding: 0 3rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  -webkit-border-radius: 64px;
  border-radius: 64px;
  font: 500 0.875rem/1 "Poppins", "Rubik", sans-serif;
  letter-spacing: -0.01em; }
  .button [class*="icon"] {
    margin-right: 0.375rem; }
  .button.lg {
    height: 3.75rem;
    padding: 0 3.75rem;
    font-size: 1rem; }
  .button.md {
    padding: 0 2rem; }
  .button.block {
    width: 100%; }
  .button.white {
    background: #fff;
    color: #65226D; }
    .button.white:hover {
      background: rgba(255, 255, 255, 0.75); }
    .button.white-outlined {
      background: transparent;
      border: 2px solid #FFFFFF;
      color: #fff; }
      .button.white-outlined:hover {
        background: #fff;
        color: #65226D; }
  .button.purple {
    background: #65226D;
    color: #fff; }
    .button.purple:hover {
      background: #A349AE; }
  .button.grey {
    background: #F3F3F3;
    color: #65226D; }
    .button.grey:hover {
      background: #DDDDDD; }

.grid-container {
  display: flex;
  flex-wrap: wrap; }
  .grid-container.col_2 > * {
    flex: 1 1 50%; }
  .grid-container.col_3 > * {
    flex: 1 1 33.33%; }
  .grid-container.col_4 > * {
    flex: 1 1 25%; }

.grid-item {
  display: flex;
  flex-direction: column;
  padding: 1rem; }
  .grid-item .img-wrap {
    display: flex;
    width: 100%;
    position: relative; }
    .grid-item .img-wrap .sale {
      position: absolute;
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 1.25rem;
      right: -0.875rem;
      width: 6.125rem;
      height: 6rem;
      padding-top: 0.5rem;
      font: bold 1.75rem/1 "Ultima Pro", "Poppins", "Rubik", sans-serif;
      color: #fff;
      background: url(../images/purple_star.png) no-repeat center;
      -webkit-background-size: contain;
      background-size: contain; }
    .grid-item .img-wrap .photo {
      width: 100%; }
    .grid-item .img-wrap .save-item {
      position: absolute;
      z-index: 1;
      bottom: 1.25rem;
      right: 1.25rem;
      font-size: 1.25rem;
      color: #65226D; }
  .grid-item .item-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 1rem; }
    .grid-item .item-info .title {
      font: 400 0.875rem/1.3125rem "Poppins", "Rubik", sans-serif; }
    .grid-item .item-info .type {
      font: 400 0.75rem/1.125rem "Poppins", "Rubik", sans-serif;
      color: #9B9B9B; }
    .grid-item .item-info .price {
      font: bold 1rem/1.25rem "Ultima Pro", "Poppins", "Rubik", sans-serif;
      margin-top: 0.5rem;
      color: #65226D;
      display: flex; }
      .grid-item .item-info .price .old {
        text-decoration: line-through;
        color: #5E5E5E;
        margin-right: 0.75rem; }
      .grid-item .item-info .price .new {
        color: #E3483E; }

/* === Slick Slider custom styles === */
.slick-dotted.slick-dotted.slick-slider {
  margin-bottom: 0; }

.slick-dots.slick-dots {
  text-align: right;
  bottom: 1rem;
  padding: 0 1rem; }
  .slick-dots.slick-dots li {
    display: inline-flex;
    align-items: center;
    justify-content: center; }
    .slick-dots.slick-dots li.slick-active button:before {
      width: 8px;
      height: 8px;
      background: #9B9B9B; }
    .slick-dots.slick-dots li button {
      width: auto;
      height: auto;
      padding: 0;
      position: relative; }
      .slick-dots.slick-dots li button:before {
        content: "";
        width: 6px;
        height: 6px;
        opacity: 1;
        background: #DDDDDD;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        -webkit-transition: all 0.2s ease-out;
        -moz-transition: all 0.2s ease-out;
        -o-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out; }

.slick-slider .slick-prev,
.slick-slider .slick-next {
  width: 3.25rem;
  height: 3.25rem;
  top: 40%;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.75);
  -webkit-border-radius: 52px;
  border-radius: 52px;
  -webkit-box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1), -4px -4px 6px rgba(255, 255, 255, 0.25);
  -moz-box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1), -4px -4px 6px rgba(255, 255, 255, 0.25);
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1), -4px -4px 6px rgba(255, 255, 255, 0.25); }
  .slick-slider .slick-prev:before,
  .slick-slider .slick-next:before {
    font-size: 1rem; }
  .slick-slider .slick-prev:hover,
  .slick-slider .slick-next:hover {
    background: rgba(255, 255, 255, 0.75); }
    .slick-slider .slick-prev:hover:before,
    .slick-slider .slick-next:hover:before {
      color: #5E5E5E;
      -webkit-transition: all 0.2s ease-out;
      -moz-transition: all 0.2s ease-out;
      -o-transition: all 0.2s ease-out;
      transition: all 0.2s ease-out; }

.slick-slider .slick-prev {
  left: 2rem; }
  .slick-slider .slick-prev:before {
    font-family: 'icomoon' !important;
    content: "\e918";
    color: #9B9B9B; }

.slick-slider .slick-next {
  right: 2rem; }
  .slick-slider .slick-next:before {
    font-family: 'icomoon' !important;
    content: "\e917";
    color: #9B9B9B; }
