h1, h2, h3, h4, h5, h6 {
  font-family: "Ultima Pro", "Poppins", "Rubik", sans-serif; }

h1, h2, h3 {
  font-weight: 900;
  letter-spacing: -0.04em; }

.site-container {
  width: 100%;
  margin: 0 auto;
  padding: 0 2.5rem; }
  .site-container:before, .site-container:after {
    content: "";
    display: table; }
  .site-container:after {
    clear: both; }
  @media only screen and (max-width: 1023px) {
    .site-container {
      padding: 0 20px; } }
  .site-container:not(.wide) {
    max-width: 1600px; }

.section-headline {
  font: 700 1.5rem/1.875rem "Ultima Pro", "Poppins", "Rubik", sans-serif;
  letter-spacing: -0.02em; }

.button {
  height: 3.125rem;
  padding: 0 3rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  -webkit-border-radius: 64px;
  border-radius: 64px;
  font: 500 0.875rem/1 "Poppins", "Rubik", sans-serif;
  letter-spacing: -0.01em; }
  .button [class*="icon"] {
    margin-right: 0.375rem;
    font-size: 120%; }
  .button.lg {
    height: 3.75rem;
    padding: 0 3.75rem;
    font-size: 1rem; }
  .button.md {
    padding: 0 2rem; }
  .button.block {
    width: 100%; }
  .button.white {
    background: #fff;
    color: #65226D; }
    .button.white:hover {
      background: rgba(255, 255, 255, 0.75); }
    .button.white-outlined {
      background: transparent;
      border: 2px solid #FFFFFF;
      color: #fff; }
      .button.white-outlined:hover {
        background: #fff;
        color: #65226D; }
  .button.purple {
    background: #65226D;
    color: #fff; }
    .button.purple:hover {
      background: #A349AE; }
  .button.grey {
    background: #F3F3F3;
    color: #65226D; }
    .button.grey:hover {
      background: #DDDDDD; }

.grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 -1rem 5rem; }
  .grid-container.cols_2 > *, .grid-container[data-rows="2"] > * {
    flex: 0 1 50%; }
  .grid-container.cols_3 > *, .grid-container[data-rows="3"] > * {
    flex: 0 1 33.33%; }
  .grid-container.cols_4 > *, .grid-container[data-rows="4"] > * {
    flex: 0 1 25%; }

.grid-item {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  padding: 1rem; }
  @media screen and (min-width: 1921px) {
    .grid-item {
      font-size: 1rem; } }
  .grid-item .img-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative; }
    .grid-item .img-wrap .sale {
      position: absolute;
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 1.25rem;
      right: -0.875rem;
      width: 6.125rem;
      height: 6rem;
      padding-top: 0.5rem;
      font: bold 1.75rem/1 "Ultima Pro", "Poppins", "Rubik", sans-serif;
      color: #fff;
      background: url(../images/purple_star.png) no-repeat center;
      -webkit-background-size: contain;
      background-size: contain; }
      @media only screen and (max-width: 767.98px) {
        .grid-item .img-wrap .sale {
          top: 12px;
          right: -4px;
          width: 58px;
          height: 58px;
          font-size: 16px;
          letter-spacing: -0.05em;
          padding-top: 4px; } }
    .grid-item .img-wrap .photo {
      width: 100%; }
    .grid-item .img-wrap .save-item {
      position: absolute;
      z-index: 1;
      bottom: 1.25em;
      right: 1.25em;
      font-size: 1.25em;
      color: #65226D; }
  .grid-item .item-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 1em; }
    .grid-item .item-info .title {
      font: 400 0.875em/1.5 "Poppins", "Rubik", sans-serif; }
    .grid-item .item-info .type {
      font: 400 0.75em/1.125em "Poppins", "Rubik", sans-serif;
      color: #9B9B9B; }
    .grid-item .item-info .price {
      font: bold 1em/1.25em "Ultima Pro", "Poppins", "Rubik", sans-serif;
      margin-top: 0.5em;
      color: #65226D;
      display: flex; }
      .grid-item .item-info .price .old {
        text-decoration: line-through;
        color: #5E5E5E;
        margin-right: 0.75em; }
      .grid-item .item-info .price .new {
        color: #E3483E; }

.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 0.5rem;
  font-size: 0.75rem;
  line-height: 1.125rem; }
  .breadcrumbs .link {
    color: #000; }
  .breadcrumbs .divider {
    margin: 0 0.3125rem;
    font-size: 80%; }

.custom-dropdown {
  position: relative; }
  .custom-dropdown:focus {
    outline: 1px solid #E3483E; }
  .custom-dropdown.active .dropdown-toggle [class*="icon"] {
    transform: rotate(180deg); }
  .custom-dropdown.active .dropdown-list {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
    z-index: 3;
    transform: translate(0, 0); }
  .custom-dropdown .dropdown-toggle {
    display: flex;
    align-items: center;
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 0.5rem 0; }
    .custom-dropdown .dropdown-toggle [class*="icon"] {
      font-size: 1.5rem;
      margin-right: 0.125rem;
      transform: rotate(0deg);
      -webkit-transition: all 0.2s ease-out;
      -moz-transition: all 0.2s ease-out;
      -o-transition: all 0.2s ease-out;
      transition: all 0.2s ease-out; }
  .custom-dropdown .dropdown-list {
    top: 2.5rem;
    left: 0;
    position: absolute;
    overflow: hidden;
    background: #fff;
    padding: 0.5rem 0;
    -webkit-border-radius: 16px;
    border-radius: 16px;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    z-index: -1;
    transform: translate(0, 1rem);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out; }
    .custom-dropdown .dropdown-list li a, .custom-dropdown .dropdown-list li button {
      display: block;
      width: 100%;
      font-size: 0.75rem;
      line-height: 1.125rem;
      background: #fff;
      color: #000;
      padding: 0.25rem 1.375rem; }
      .custom-dropdown .dropdown-list li a:hover, .custom-dropdown .dropdown-list li button:hover {
        color: #5E5E5E; }

/* === Slick Slider custom styles === */
.slick-dotted.slick-dotted.slick-slider {
  margin-bottom: 0; }

.slick-dots.slick-dots {
  text-align: right;
  bottom: 1rem;
  padding: 0 1rem; }
  .slick-dots.slick-dots li {
    display: inline-flex;
    align-items: center;
    justify-content: center; }
    .slick-dots.slick-dots li.slick-active button:before {
      width: 8px;
      height: 8px;
      background: #9B9B9B; }
    .slick-dots.slick-dots li button {
      width: auto;
      height: auto;
      padding: 0;
      position: relative; }
      .slick-dots.slick-dots li button:before {
        content: "";
        width: 6px;
        height: 6px;
        opacity: 1;
        background: #DDDDDD;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        -webkit-transition: all 0.2s ease-out;
        -moz-transition: all 0.2s ease-out;
        -o-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out; }

.slick-slider .slick-prev,
.slick-slider .slick-next {
  width: 3.25rem;
  height: 3.25rem;
  top: 40%;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.75);
  -webkit-border-radius: 52px;
  border-radius: 52px;
  -webkit-box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1), -4px -4px 6px rgba(255, 255, 255, 0.25);
  -moz-box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1), -4px -4px 6px rgba(255, 255, 255, 0.25);
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1), -4px -4px 6px rgba(255, 255, 255, 0.25); }
  .slick-slider .slick-prev:before,
  .slick-slider .slick-next:before {
    font-size: 1rem; }
  .slick-slider .slick-prev:hover,
  .slick-slider .slick-next:hover {
    background: rgba(255, 255, 255, 0.75); }
    .slick-slider .slick-prev:hover:before,
    .slick-slider .slick-next:hover:before {
      color: #5E5E5E;
      -webkit-transition: all 0.2s ease-out;
      -moz-transition: all 0.2s ease-out;
      -o-transition: all 0.2s ease-out;
      transition: all 0.2s ease-out; }

.slick-slider .slick-prev {
  left: 3rem; }
  .slick-slider .slick-prev:before {
    font-family: 'icomoon' !important;
    content: "\e918";
    color: #9B9B9B; }

.slick-slider .slick-next {
  right: 3rem; }
  .slick-slider .slick-next:before {
    font-family: 'icomoon' !important;
    content: "\e917";
    color: #9B9B9B; }

.placeholder-list {
  width: 100%; }
  .placeholder-list li {
    height: 16px;
    background: #DDDDDD;
    margin-bottom: 10px;
    -webkit-border-radius: 4px;
    border-radius: 4px; }

.custom-collapse.shown .collapse-toggle [class*="icon"] {
  transform: rotate(180deg); }

.custom-collapse.shown .collapse-body {
  height: auto;
  max-height: 30rem;
  padding-bottom: 0.5rem; }

.custom-collapse .collapse-toggle {
  width: 100%;
  border-bottom: 1px solid #5E5E5E;
  display: flex;
  align-items: center;
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 0.5rem 0;
  margin-bottom: 0.75rem; }
  .custom-collapse .collapse-toggle [class*="icon"] {
    font-size: 1.5rem;
    margin-right: 0.125rem;
    transform: rotate(0deg);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out; }

.custom-collapse .collapse-body {
  height: 0;
  max-height: 0;
  overflow: hidden;
  letter-spacing: -0.01em;
  font-size: 0.8125rem;
  line-height: 1.7;
  padding-bottom: 0;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }
  .custom-collapse .collapse-body strong {
    font-weight: 600; }
