$baseFont: "Poppins", "Rubik", sans-serif;
$headlineFont: "Ultima Pro", $baseFont;

// colors
$red: #E3483E;
$purple: #65226D;
$purpleHover: #A349AE;
$darkGrey: #5E5E5E;
$mediumGrey: #DDDDDD;
$lightGrey: #F9F9F9;
$grey: #F3F3F3;
$greyText: #9B9B9B;
