$baseFont: "Rubik", "Poppins", sans-serif;;
$headlineFont: "Ultima Pro", $baseFont;

// colors
$red: #E3483E;
$purple: #65226D;
$purpleHover: #A349AE;
$grey: #F3F3F3;
$greyHover: #DDDDDD;
$greyText: #9B9B9B;
